body {
    background-color:#dddddd;
    background-image: url("images/bg2.png");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #314e91;
    display: flex;      /* .boxes and so on will all stack vertically */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {      /* main container, makes images/names container and randomize button stack vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 12px;
    border-color: #314e91;
    background-color: rgba(255,255,255,0.6);
    font-family: 'Trebuchet MS';
    margin: 5px;
}

.headerbox {
    padding: 20px 25px;
    font-size: 30px;
}

.rowbox {       /* puts the images w/ info and options side-by-side flexibly */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 20px;
}

.imgbox {       /* contains lock option, image and all related contents  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.iconbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    border-color: #314e91;
    background-color: #ffffff;
    padding: 18px 12px;
    margin-bottom: 10px;
    color: #314e91;
    }

.namebox {      /* formatting for colorway name container */
    background-color: #ffffff;
    border: 2px solid #314e91;
    font-size: 20px;
    padding: 8px 14px;
    text-align: center;
    border-radius: 12px;
    background-color: #ffffff;
    font-family: 'Trebuchet MS';
    margin: 10px;
}

.imgbox img {      /* all colorways get resized to 250px */
    width: 250px;
    height: 250px;
    border: 2px solid #314e91;
    border-radius: 12px;
    padding: 0px;
}

.random-button {
    color: #314e91;
    background-color: #ffffff;
    border-color: #314e91;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
}

.pointer  {
    cursor: pointer;
}