<!DOCTYPE html>

<html lang="en">

<head>
    <meta name ="viewport" content="initial-scale=1", width="device-width">

    <title>Shop</title>

    <link rel="stylesheet" href="../static/style2.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Allura'>
</head>

<body>

    <div id="nav-bar">
        <div id="nav-header">Navigation</div>                       
            <a href="{{ url_for('index')}}" class="nav-button pointer">Home</a>
            <a href="{{ url_for('shop')}}" class="nav-button pointer">Shop</a>
            <a href="{{ url_for('index')}}" class="nav-button pointer">Yarn Randomizer</a>
            <a href="{{ url_for('index')}}" class="nav-button pointer">Yarn Math</a>
            <a href="{{ url_for('index')}}" class="nav-button pointer">Links</a>
    </div>

    <div class="grid-container">
        <div class="item item1"><img src="../static/images/octobertealside.jpeg"></div>
        <div class="item item2"><img src="../static/images/erieside.jpeg"></div>
        <div class="item item3"><img src="../static/images/spindriftredside.jpeg"></div>
        <div class="item item4"><img src="../static/images/fernhilllimeside.jpeg"></div>
    </div>
</body>

</html>
