<!DOCTYPE html>

<html lang="en">

<head>
    <meta name ="viewport" content="initial-scale=1", width="device-width">

    <title>Shop</title>

    <link rel="stylesheet" href="../static/style2.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Allura'>

</head>

<body>

    <div id="nav-bar">
        <div id="nav-header">Navigation</div>                       
            <a href="{{ url_for('index')}}" class="nav-button">Home</a>
            <a href="{{ url_for('shop')}}" class="nav-button">Shop</a>
            <a href="{{ url_for('index')}}" class="nav-button">Yarn Randomizer</a>
            <a href="{{ url_for('index')}}" class="nav-button">Yarn Math</a>
            <a href="{{ url_for('index')}}" class="nav-button">Some Other Link</a>
        </div>
    </div>

</body>

</html>
