<!DOCTYPE html>

<html lang="en">

<head>
    <meta name ="viewport" content="initial-scale=1", width="device-width">
    <title>Yarn Combo Generator</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="http://kit.fontawesome.com/9cffb2521e.js" crossorigin="anonymous"></script>    <!--FontAwesome-->
</head>

<body>
    <h1 class="box headerbox" style="font-family: 'Trebuchet MS', Arial, sans-serif">Colorway Randomizer</h1>
        <div class="box">
            <div class="rowbox">
                <div class="imgbox img">
                    <img id="randomImage1" src="../static/images/semolina.jpg" alt="">
                    <p class="namebox" id="randomColorName1">Semolina</p>
                </div>

                <div class="imgbox img">
                    <img id="randomImage2" src="../static/images/tarragon.jpg" alt="">
                    <p class="namebox" id="randomColorName2">Tarragon</p>
                </div>
            </div>

            <button id="randomButton">Randomize</button>

        </div>

        <script src="../static/colors.js"></script>
        <script src="../static/getRandomImage.js"></script>

        <script>
            document.getElementById('randomButton').addEventListener('click', function() {getRandomImage();});
        </script>

    </body>
</html>
